<!DOCTYPE html>
<html>
    <head>
        <link  rel="stylesheet" href="/css/styles.css">
           <link rel="icon" href="../images/pic3.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h2>About us. We were born in {{established}}</h2>
            <img class="portrait" src="./images/pic1.png">
        </div>
         {{>footer}}
    </body>
</html>