<!DOCTYPE html>
<html>
    <head>
        <link  rel="stylesheet" href="/css/styles.css">
           <link rel="icon" href="../images/pic3.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h2>About us. We were born in {{established}}</h2>
            <p>We are fetching our data from below sources</p>
                <ul>
                    <li>Weather Stack <img src="../images/weatherStack.jpg"></li>
                    <li>Map Box<img src="./images/mapBox.png"></li>
                </ul>
        </div>
         {{>footer}}
    </body>
</html>