<!DOCTYPE html>
<html>
    <head>
        <link  rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="../images/pic3.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="./images/weather.jpg">
            <p>Use this site to get your location's weather</p>
            <form>
                <input placeholder="Your location">
                <button>Search</button>
            </form>
            <p id="msg1"></p>
            <p id="msg2"></p>
         </div>
          {{>footer}}
          <script src="./js/app.js"></script>
      
    </body>
</html>