<!DOCTYPE html>
<html>
    <head>
        <link  rel="stylesheet" href="/css/styles.css">
           <link rel="icon" href="../images/pic3.png">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <h2>{{weather}} for  {{address}}</h2>
        </div>
        {{>footer}}
    </body>
</html>